html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --main-bg-color: #FDFDFD;
  --second-bg-color: #F1F1F1;
  --third-bg-color: #D1D1D1;
  --special-bg-color: #2C414C;

  --main-text-color: #2A52B6;
  --second-text-color: #2C414C;
  --third-text-color: #B1B1B1;
  --special-text-color: #FDFDFD;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  background-color: var(--main-bg-color);
  min-height: 100%;
  min-width: 100%;
}

p,
label {
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}
