.type-area {
  .private-selector {
    display: flex;
    padding: 0 0.5em;

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0.2em 1em;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      border-bottom: 5px solid rgba(0, 0, 0, 0)
    }

    button[disabled] {
      color: #2A52B6;
      border-color: #2A52B6;
    }
  }
  .main-area {
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid #F1F1F1;

    .text-container {
      flex-grow: 1;
      display: flex;
      border-right: 2px solid #F1F1F1;
      margin: 2em 5px 2em 0;

      textarea {
        resize: none;
        border: none;
        background-color: transparent;
        flex-grow: 1;
        margin: 0 0.2em;
        padding: 0.5em;
        height: 7em;
        border: 0 0 1px 0;
      }

      textarea:focus {
        outline: none;
      }
    }
    .send-container {
      width: 80px;

      button {
        border: none;
        cursor: pointer;
        border-radius: 10px;
        width: 60px;
        height: 60px;
        background-color: #2A52B6;

        img {
          width: 80%;
        }
      }

      button:focus {
        outline: none;
      }

    }
  }
}
