.message-container {
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid var(--third-bg-color);

  .message {
    display: block;
  }

  .message + .message {
    margin-bottom: 1em;
  }
}

.message-container-empty {
  font-size: 1.5em;
  text-align: center;
}
