.message-box {
  text-align: left;

  .flex-box {
    display: flex;
    flex-direction: row;

    .main-content {
      background-color: var(--second-bg-color);
      color: var(--second-text-color);
      padding: 1em 1em;
      border-radius: 0.5em;
      flex-grow: 1;
      max-width: 560px;
    }
  }
  .footer {
    color: var(--third-text-color);
    font-size: 0.8em;
  }

  h5, p {
    margin: 0.2em 0;
  }
}

.message-box.message-box-own {
  .flex-box {
    flex-direction: row-reverse;
    .main-content {
      background-color: var(--third-bg-color);
    }
  }

  .footer {
    text-align: right;
  }
}

.message-box.message-box-private {
  .flex-box {
    .main-content {
      color: var(--special-text-color);
      background-color: var(--special-bg-color);
    }
  }
}

