.message-box {
  text-align: left;

  .flex-box {
    display: flex;
    flex-direction: row;

    .main-content {
      background-color: #F1F1F1;
      color: #63686C;
      padding: 1em 1em;
      border-radius: 0.5em;
      flex-grow: 1;
      max-width: 560px;
    }
  }
  .footer {
    color: #BCBCBC;
  }

  h5, p {
    margin: 0.2em 0;
  }
}

.message-box.message-box-own {
  .flex-box {
    flex-direction: row-reverse;
    .main-content {
      background-color: #E9EDF7;
    }
  }

  .footer {
    text-align: right;
  }
}

.message-box.message-box-private {
  .flex-box {
    .main-content {
      background-color: #B1B1B1;
    }
  }
}

