.app-wrapper {
  max-width: calc(768px + 16px * 2);
  margin: 1vh auto;
  display: flex;
  height: 98vh;
  overflow: hidden;
  padding: 0 16px;
  flex-direction: column;

  .message-container {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 0 10px;
  }

  .message-poster {

  }
}
